body {
  background-color: black;
}

/********************************************************/
  /* PAGE TOP */

#title {
  color: #B600FF;
  position: relative;
  left: 10%;
}

#SearchBar {
  width: 50%;
  padding: 10px 20px;
  margin: 8px 10px;
  margin-right: 10px;
  border: 1px solid black;
}

.search {
  background-color: purple;
  cursor: pointer;
  color: white;
  padding: 8px 25px;
}
#login {
  position: absolute;
  top: 3%;
  left: 82%;
  background-color: purple;
  color: white;
  padding: 8px 25px;
}

#signin {
  position: absolute;
  top: 3%;
  left: 91%;
  background-color: purple;
  color: white;
  padding: 8px 25px;
}

#login:hover, #signin:hover {
  background-color: yellow;
  color: black;
}

.TopNav {
  float: right;
}

.NavLink {
  color: #B600FF;
}
.fa:hover {
  color: yellow;
}

/************************************************************/
  /*  PAGE READER */

.contentlink {
  background-color: purple;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.contentlink:hover {
  background-color: yellow;
  color: black;
}

.content {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

#pc {background-color:black;}
#playstation {background-color:blue;}
#xbox {background-color:green;}
#nintendo {background-color:red;}

/****************************************************************/
/*  GAMES */

.topGames {
  width: 200px;
  height: 200px;
}

.news {
  float: right;
  position: relative;
  top: 5px;
  padding: 20px 2px;
  border: 3px solid white;
  border-radius: 3em;
  width: 300px;
  height: 100%;
  color: white;
  background-color: purple;
}

h1, p, td {
  color: white;
  text-align: justify;
  padding: 0px 5px;
}

/***************************************************************/
  /*  FOOTER  */
  
#footer {
  text-align: center;
}
footer {
  text-align: center;
}

hr {
  border-top: 2px solid #B600FF;
}