body {
	background-image: url('img_girl.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#sloth {
	position: absolute;
	top: 7%;
	left: 43%;
	width: 100px;
	height: 100px;
}
	
.middle {
	position: absolute;
	top: 27%;
	left: 35%;
	width: 20%;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px 20px;
}

input[type=text], input[type=password] {
	width: 90%;
	padding: 12px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit], input[type=reset] {

}

#idontknow {
	border: 3px solid black;
}

#bellowMiddle {
	position: absolute;
	top: 67%;
	left: 40%;
}

#join {
	position: absolute;
	left: 32%;
}

p {
	color: white;
}

a {
	color: #00FBFF;
}